body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #0a4c83;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 150%;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: rgb(12, 103, 145);
    color: white;
}

.button {
    background-color: #0a4c83;
    width: 100px;
    color: white;
}


/*---------------------------------------------*/

#tabla {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#tabla td,
#tabla th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabla tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tabla tr:hover {
    background-color: #ddd;
}

#tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(12, 103, 145);
    color: white;
}

#contenedorcito {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 115%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#datos {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    padding: 30px 30px 50px 30px;
    background-color: #0a4c83;
    /*color de la caja*/
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    /*curvatura en las cuatro esquinas*/
    box-sizing: border-box;
    opacity: 1;
    filter: alpha(opacity=1);
}

#datos label {
    display: block;
    font-family: 'Overpass', sans-serif;
    font-size: 120%;
    color: white;
    margin-top: 15px;
}


/*color de la letra usuario y contra*/

#datos input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: rgb(0, 0, 0);
    /*color al escribir en la casilla*/
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#datos input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: lightgray;
    text-align: center;
}


/*color de las letras dentro de la casilla*/

#datos button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: black;
    /*color de la letra del boton*/
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #f0ffff;
    /*color del boton*/
    margin-top: 10px;
}

#datos button:hover {
    background-color: #04AA6D;
    /*color al pasar el mouse al boton*/
    color: black;
}

.menu li {
    padding-top: 45px;
}
.id{
 font-size: 28px;
}
input{
  font-size: 28px;  
}
button{
  font-size: 28px;  
}  
